html,body{
    height: 100%;
    width: 100%;

}
body{
    padding: 30px;
background-color: black;
    perspective: 800px;
}
h1{
    font-size: 50px;
    font-weight: 900;
    background-image: url(./istockphoto-1200134695-1024x1024.jpg);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    
}

img{
 height: 500px;
 width: 500px;
 transform: rotate3d(1, 1, 1, 178deg);
}