html,body{
    height: 100%;
    width: 100%;

}
body{
    padding: 30px;
background-color: black;
    perspective: 800px;
}
h1{
    font-size: 50px;
    font-weight: 900;
    background-image: url(./istockphoto-1200134695-1024x1024.jpg);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    box-shadow: 10px 0px 100px 5px rgba(251, 249, 249, 0.527);
display:inline-block;
backdrop-filter:blur(10px);
    
}

img{
 height: 500px;
 width: 500px;
 transform: rotate3d(1, 1, 1, 178deg);
}
.line{
    height: 500px;
    width: 600px;
    border-radius: 50px;
}
.button{
    margin: 20%;
    height: 200px;
    width:300px ;
    background-color: rgb(255, 0, 0);
    
    box-shadow: 10px 0px 100px 50px rgba(255, 0, 0, 0.826);
    border-radius: 50px;

   
}
.transparent{
    height: 90%;
    width: 90%;
    border: 10px;
    background-color: rgba(255, 255, 255, 0.388);
    backdrop-filter:blur(10px);

}